@import '../../colors.scss';

:host {
  margin: 0 auto;
  padding: 12px 6px;
  width: calc(100% - 12px);

  .board-square {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .board-row {
      display: flex;
      height: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 2px 0;
    }
  }
}
