<div class="root">
  <header>
    <div class="header-section header-section-side header-section-left">
      <button class="menuTrigger"
        (click)="toggleGameMenu()">=</button>
    </div>
    <div class="header-section"><div class="title">{{title}}</div></div>
    <div class="header-section header-section-side header-section-right">
      <!-- TBD -->
    </div>
  </header>

  <div class="content">
    <app-value-activation-settings></app-value-activation-settings>
    <app-board></app-board>
  </div>
</div>

<div [ngClass]="{ 'game-menu-host': true, 'game-menu-active': isGameMenuOpen }">
  <app-game-menu [(isMenuOpen)]="isGameMenuOpen"></app-game-menu>
</div>
