$shade1: #505050;
$shade2: #707070;
$shade3: #A0A0A0;
$shade4: #D0D0D0;
$shade5: #F0F0F0;

$shadow: #A0A0A088;

$black: #000;
$white: #fff;

$highlightPrimary: #77bbff;
$highlightSecondary: #ffcc66;
$highlightBoth: #77bb88;
$error: #cc4444;
