@import '../../colors.scss';

:host {
  flex: 1 0 auto;
  box-sizing: border-box;

  div {
    height: 100%;
    min-width: 30px;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $shade1;
    border: 1px solid $shade4;
    box-sizing: border-box;

    &.primaryActive {
      background-color: $highlightPrimary;
    }

    &.secondaryActive {
      background-color: $highlightSecondary;
    }

    &.bothActive {
      background-color: transparent;
      background-image: linear-gradient(to right, $highlightPrimary, $highlightPrimary, $highlightSecondary, $highlightSecondary);
      // background-color: $highlightBoth;
    }

    &.wrongSelection {
      border: 2px solid $error;
      color: $error;
    }
  }
}
